{% extends 'GergelyPolonkaiFrontBundle:Admin:index.html.twig' %}

{% block admincontent %}
<h3>All posts</h3>
<a href="{{ path('GergelyPolonkaiFrontBundle_adminEditBlogPost') }}">New post</a>
<table>
    <thead>
        <tr>
            <td></td>
            <td>Title (click to edit)</td>
            <td>Author</td>
            <td>Created at</td>
            <td></td>
        </tr>
    </thead>
{% if posts %}
    <tbody>
{% for post in posts %}
        <tr>
            <td>{% if post.draft %}D{% endif %}</td>
            <td><a href="{{ path('GergelyPolonkaiFrontBundle_adminEditBlogPost', {id: post.id}) }}">{{ post.title }}</a></td>
            <td>{{ post.user.name }}</td>
            <td>{{ post.createdAt|date('m/d/Y') }}</td>
            <td><a href="{{ path('GergelyPolonkaiFrontBundle_blogViewPost', {year: post.createdAt|date('Y'), month: post.createdAt|date('m'), day: post.createdAt|date('d'), slug: post.slug}) }}" target="gergelypolonkai_blogpreview">Preview</a></td>
        </tr>
{% endfor %}
    </tbody>
{% endif %}
</table>
<a href="{{ path('GergelyPolonkaiFrontBundle_adminEditBlogPost') }}">New post</a>
{% endblock admincontent %}
