<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict/EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Gergely Polonkai{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
{% stylesheets 'bundles/gergelypolonkaifront/css/*' filter='cssrewrite' output='css/gergelypolonkaiweb.css' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" media="screen" />
{% endstylesheets %}
        <link rel="alternate" type="application/rss+xml" title="Gergely Polonkai's Blog - RSS Feed" href="{{ app.request.scheme }}://{{ app.request.host }}{{ path('GergelyPolonkaiFrontBundle_blogFeed') }}" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    </head>
    <body>
        <div id="content-wrapper">
            <div id="header" style="background-image: url('{{ asset('bundles/gergelypolonkaifront/images/' ~ random_header) }}');">
                <div id="picture">
                    <img src="{{ asset('bundles/gergelypolonkaifront/images/profile.png') }}" alt="" />
                </div>
                <h1><a href="{{ path('GergelyPolonkaiFrontBundle_homepage') }}">Gergely Polonkai</a></h1>
                <h2>developer, systems engineer and administrator</h2>
                <div id="contact-list">
                    <a href="mailto:gergely@polonkai.eu" target="_blank"><img src="{{ asset('bundles/gergelypolonkaifront/images/email_16.png') }}" alt="E-mail" /></a>
                    <a href="http://www.linkedin.com/in/gergelypolonkai" target="_blank"><img src="{{ asset('bundles/gergelypolonkaifront/images/linkedin_16.png') }}" alt="LinkedIn profile" /></a>
                    <a href="skype:w00dhun" target="_blank"><img src="{{ asset('bundles/gergelypolonkaifront/images/skype_16.png') }}" alt="Skype" /></a>
                    <a href="http://facebook.com/Polesz" target="_blank"><img src="{{ asset('bundles/gergelypolonkaifront/images/facebook_16.png') }}" alt="Facebook profile" /></a>
                    <a href="https://plus.google.com/u/1/105740970718293884702/about" target="_blank"><img src="{{ asset('bundles/gergelypolonkaifront/images/google_plus_16.png') }}" alt="Google+ profile" /></a>
                    <a href="gtalk:chat?jid=gergely@polonkai.eu" target="_blank"><img src="{{ asset('bundles/gergelypolonkaifront/images/googletalk_16.png') }}" alt="Google Talk" /></a>
                    <a href="http://twitter.com/W00d5t0ck" target="_blank"><img src="{{ asset('bundles/gergelypolonkaifront/images/twitter_16.png') }}" alt="Twitter" /></a>
                    <a href="http://tumblr.w00d5t0ck.info" target="_blank"><img src="{{ asset('bundles/gergelypolonkaifront/images/tumblr_16.png') }}" alt="Tumblr" /></a>
                    <a href="msnim:chat?contact=polesz@w00d5t0ck.info" target="_blank"><img src="{{ asset('bundles/gergelypolonkaifront/images/windows_16.png') }}" alt="Windows Live" /></a>
                    <a href="http://w00d5t0ck.deviantart.com" target="_blank"><img src="{{ asset('bundles/gergelypolonkaifront/images/deviantart_16.png') }}" alt="deviantArt" /></a>
                    <a href="{{ path('GergelyPolonkaiFrontBundle_blogFeed') }}"><img src="{{ asset('bundles/gergelypolonkaifront/images/rss_16.png') }}" alt="RSS Feed" /></a>
                </div>
            </div>
            <div id="content-padding"></div>
            <div id="menu">
                <div id="tagcloud-button"><img alt="" src="{{ asset('bundles/gergelypolonkaifront/images/tagcloud.png') }}" /></div>
                <ul>
                    <li {% if currentMenu == 'resume' %} class="active"{% endif %}><a href="{{ path('GergelyPolonkaiFrontBundle_resume', { _format: 'html' }) }}">Resume</a></li>
                    <li {% if currentMenu == 'blog' %} class="active"{% endif %}><a href="{{ path('GergelyPolonkaiFrontBundle_blogListing') }}">Blog</a></li>
                    <li {% if currentMenu == 'about' %} class="active"{% endif %}><a href="{{ path('GergelyPolonkaiFrontBundle_about') }}">About me</a></li>
                </ul>
                <br class="clear" />
            </div>
{% if tagCloud|length > 0 %}
            <div id="tag-cloud">
{% for cloudItem in tagCloud %}
                <a href="{{ path('GergelyPolonkaiFrontBundle_blogTagList', { name: cloudItem.name }) }}" class="size{{ cloudItem.size }}">{{ cloudItem.name }}</a>{% if not loop.last %} | {% endif %}
{% endfor %}
            </div>
{% endif %}
            <div id="content">
{% block content %}{% endblock content %}
            </div>
        </div>
        <div id="bottombar-wrapper">
            <div id="bottombar-padding"></div>
            <div id="bottombar"{% if app.environment == 'dev' %} style="bottom: 40px;"{% endif %}>
                :: Copyright &copy; 2012, Gergely Polonkai :: <a href="{{ path('GergelyPolonkaiFrontBundle_disclaimer') }}">Disclaimer</a> ::
            </div>
        </div>
        <a href="https://github.com/gergelypolonkai" id="github-ribbon"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png" alt="Fork me on GitHub"></a>
        <iframe src="http://githubbadge.appspot.com/badge/gergelypolonkai?s=1&a=0" style="border: 0; height: 142px; width: 200px; overflow: hidden; display: none; position: absolute; top: 100px; left: 100px;" frameBorder="0" id="github-badge"></iframe>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.at-obfuscation').html('@');

                $('#tagcloud-button').click(function() {
                    $('#tag-cloud').toggle('slow');
                });

                $('#github-ribbon').mouseover(function() {
                    $('#github-badge').fadeIn();
                });

                $('#github-ribbon').mouseout(function() {
                    $('#github-badge').fadeOut();
                });

                $(document).mousemove(function(e) {
                    $('#github-badge').css({
                        top: e.pageY + 5,
                        left: e.pageX + 5
                    });
                });
            });
        </script>
    </body>
</html>
